/*==========Root Css Variables ================*/
:root{
  --dark-body:#171717;
  --light-body:#baaeab;
  --color-white:#fff;
  
  --color-black:#000;

  --color-danger:#ff4500;
  --color-warning:#ff0000;
  --color-yellow:#7fff00;
  

}

/*=================END ROOTS==================*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  list-style: none;
  scroll-behavior: smooth; 
  -webkit-scroll-behavior: smooth
}
body{
  /*background:#E2DEDD;*/
  background:var(--light-body);
  color:#fff;
  font-family: 'Oswald', sans-serif;
  transition:1000ms ease-in-out;
  width:100%;
  height:100vh;
  overflow-x: hidden;
  transition: background 1s ease;
  
}
body::before{
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  overflow: hidden;
  opacity: 0.02;
  z-index: 1000;
  pointer-events: none;
  background: url("../image/noise.gif");
}


body {
  --nav__logo: url('../image/logo__white.png');
  --arrow:url('../image/arrow__black.png');
  --astrick:url('../image/astrick.png');
  --cross:url('../image/cross.png');
}

body[data-theme="dark"] {
  --nav__logo: url('../image/logo__black.png');
  --arrow:url('../image/arrow.png');
  --astrick:url('../image/astrick_green.png');
  --cross:url('../image/cross__white.png');
}

/*=====================================CUSTOM SCROLLBAR================================*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--light-body);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--color-danger);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--color-warning);
} 
/*====================================END OF CUSTOM SCROLL BAR ==========================*/
.arrow{
  content:var(--arrow);
  transition:1000ms;
}
.nav__logo {
  content: var(--nav__logo);
  transition:1000ms;
}
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem+1rem);
    top: 0;
    left: 0;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.scroll__down header {
		transform: translate3d(0, -100%, 0);
	
}

.scroll__up header {

		filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}
img{
  width:100%;
  height:100%;
  object-fit:cover;
}
a{
  text-decoration: none;
  cursor: none;
}
/*=============================SMOOTH SCROLL=====================================*/
#my-scrollbar{

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  
}

/*================================END OF SMOOTH SCROLL================================*/
/*====================================START OF CURSOR==================================*/
.cursor {
position: absolute;
background:var(--color-black);
width: 15px;
height: 15px;
border-radius: 100%;
z-index: 1000;
transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
user-select: none;
pointer-events: none;
transform: scale(0.8);
border:2px solid var(--color-white);
}

.cursor::before {
opacity: 0;
content: "View";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: 27%;
  display: block;
  font-size:3px;
  color:var(--color-white);
}

.cursor.active {
opacity: 1;
transform: scale(5);
border:none;
}

.cursor.active::before {
opacity: 1;
}
/*===================================END OF CURSOR===================================*/
/*==================================START OF LOADER===================================*/

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background:var(--color-black);
  z-index: 10000;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100vh;
  background: #000;
  z-index: 2;
  text-align: center;
  border:1px solid var(--color-white);
}
.loader__top{
  color:var(--color-white);
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  border-bottom:1px solid var(--color-white);
  padding-bottom:10px;
  align-items:center;
}
.loader__top span{
  font-weight:bold;
  text-align:left;
  margin:0 10px;
  
}
.loader__mid{
  position: absolute;
top: 50%; 
right: 50%;
transform: translate(50%,-50%);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:3em;
  
}
.loader__mid span{
  color:var(--color-white);
  font-size:2.3em;
  font-weight:bold;
}
.world{
  width:160px;
}
.ground{
  width:240px;
}
.loader__bottom{
  position: absolute;
  bottom: 1em;
  width: 100%;
  border-top: 1px solid var(--color-white);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  font-weight:bold;
  padding-top:10px;
  color:var(--color-white);
}
/*==============================END OF LOADER===========================================*/

/*==============================START OF NAVBAR=========================================*/
.logo img{
  width:200px;
  margin-left:8em;
}
.navbar__pc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0 ;
  border-bottom: 1px solid var(--color-black);
  background: rgb(183 172 169 / 50%);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
  backdrop-filter: blur( 10px );
}

.navbar__items{
  margin-right:5em;
}
.rolling__txt {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0px;
  height: 20px;
  text-decoration: none;
  overflow: hidden;
  color:var(--color-white);
  cursor:none;
  margin:0 10px;
  font-weight:bold;
}
.rolling__txt:hover .letter,
.rolling__txt.play .letter {
  transform: translateY(-100%);
}
.rolling__txt .block:last-child {
  color:var(--color-warning);
}
.rolling__txt .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter:nth-child(1) {
transition-delay: 0s;
}

.letter:nth-child(2) {
transition-delay: 0.015s;
}

.letter:nth-child(3) {
transition-delay: 0.03s;
}

.letter:nth-child(4) {
transition-delay: 0.045s;
}

.letter:nth-child(5) {
transition-delay: 0.06s;
}

.letter:nth-child(6) {
transition-delay: 0.075s;
}

.letter:nth-child(7) {
transition-delay: 0.09s;
}

.letter:nth-child(8) {
transition-delay: 0.105s;
}

.letter:nth-child(9) {
transition-delay: 0.12s;
}

.letter:nth-child(10) {
transition-delay: 0.135s;
}

.letter:nth-child(11) {
transition-delay: 0.15s;
}

.letter:nth-child(12) {
transition-delay: 0.165s;
}

.letter:nth-child(13) {
transition-delay: 0.18s;
}

.letter:nth-child(14) {
transition-delay: 0.195s;
}

.letter:nth-child(15) {
transition-delay: 0.21s;
}

.letter:nth-child(16) {
transition-delay: 0.225s;
}

.letter:nth-child(17) {
transition-delay: 0.24s;
}

.letter:nth-child(18) {
transition-delay: 0.255s;
}

.letter:nth-child(19) {
transition-delay: 0.27s;
}

.letter:nth-child(20) {
transition-delay: 0.285s;
}

.letter:nth-child(21) {
transition-delay: 0.3s;
}
/*=======================================END OF NAVBAR=================================*/

/*======================================Dark Mode======================================*/
body.dark{
  background:var(--dark-body);
  color:var(--color-white);
  transition:1000ms ease-in-out;
}
.menu__toggle{
  width:20px;
  height:20px;
  background:black;
  border-radius:50%;
  display:inline-flex;
  margin:0 0 0 50px;
}
.menu__toggle:hover{
  opacity:0.6;

}

body.dark .rolling__txt{
  color:var(--color-white);
}

body.dark .menu__toggle,body.dark .cursor{
  background:var(--color-white);
}
body.dark .navbar__pc{
  border-bottom: 1px solid var(--color-white);
  background:rgb(20 19 19 / 75%);
}

body.dark .rolling__txt .block:last-child , body.dark .social__icons {
  color:var(--color-yellow);
}
body.dark .left__side ,body.dark .decoration__text {
  color:var(--color-white);
}
body.dark .portfolio__image  {
  filter: hue-rotate(45deg);
}
body.dark .work__col2{
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
body.dark .work__col3{
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.arrow__prjct{
  content:var(--arrow);
  transition:1000ms;
}
body.dark .project__card__bottom h2 , body.dark .cursor::before{
  color:var(--color-black);
}
body.dark .row:nth-child(1) .project__card__bottom{
  background:#fac5c5;
}
body.dark .row:nth-child(2) .project__card__bottom{
  background:#f6fac5;
}
body.dark .row:nth-child(3) .project__card__bottom{
  background:#c9cbff;
}
body.dark .row:nth-child(4) .project__card__bottom{
  background:#6ef4ff;
}

body.dark  .text__stroke{
  -webkit-text-stroke-color:var(--color-white);
}
body.dark .accent{
color:var(--color-yellow);
}
body.dark .project__card__top img {
border: 1px solid var(--color-white);
}
body.dark .back__to__top , body.dark .button__view::after{
background:var(--color-yellow);
}
body.dark .social__icons i:hover{
color:var(--color-warning);
}
body.dark .navbar__mobile{
  border-bottom:1px solid var(--color-white);
  background:rgb(20 19 19 / 75%);
}
/*===============================Custom Scrollbar Dark Mode=============================*/
/* width */
body.dark ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body.dark::-webkit-scrollbar-track {
  background:var(--dark-body);
}

/* Handle */
body.dark::-webkit-scrollbar-thumb {
  background:var(--color-yellow);
}

/* Handle on hover */
body.dark::-webkit-scrollbar-thumb:hover {
  background:rgb(56, 112, 0);
} 
/*=============================END CUSTOM SCROLL BAR DARKMODE====================*/


/*===============================END DARKMODE===========================================*/
.navbar__mobile{
  display:none;
}




/*==============================Hero container==========================================*/
.hero__wrapper{
  height:100vh;
  position:relative;
}
.hero__section{
  display:grid;
  grid-template-columns: 10% 2fr 1fr 5%;
  top:15%;
  position:relative;
  height:80vh;

  
}
.left__side{
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 5%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:1em;
  color:var(--color-black);
}
.world__img{
  width: 50px;
  height: 50px;
  
}
.location p{
  writing-mode: vertical-rl; 
  transform:rotate(180deg);
  margin-left:17px;
  
}
.scroll{
  position:relative;
  bottom:2.5em;
}
.scroll img{
  width: 53px;
  height: 100px;
  
}
.scroll p{
  writing-mode: vertical-rl; 
  text-orientation: upright;
  -webkit-text-orientation: upright;
  margin-left:17px;
}

/*===hero img=====*/

.portfolio__image {
overflow: hidden;
grid-column: 3;
grid-row: 1;
filter: grayscale(0.85);
transition:1000ms ease-in-out;
padding-top:10px;
z-index:-1;

}


.hire__me{
  position: absolute;
  bottom: 3%;
  right: 29%;
  z-index:5;
}
.button__hire {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  cursor:none;
}
.button__hire .button-text {
  position: absolute;
}
.button__hire .foreground-text {
  opacity: 0;
  z-index: 1;
  color:var(--color-white);
}
.button__hire::after {
  content: "";
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color:var(--color-warning);
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (hover: hover) and (pointer: fine) {
  .button__hire:hover {
    border-color: transparent;
  }
  .button__hire:hover::after {
    width: 100%;
    height: 100%;
  }
  .button__hire:hover .button-text.foreground-text {
    opacity: 1;
  }
}

/* header  */
.mid__hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:1em;
}

.header__text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1;
  
  margin-top:20px;
  position:relative;
  z-index:3;
  line-height:1;

}

.header__text h1 {
font-size: 6rem;
text-transform: uppercase;
-webkit-text-stroke: thin;
line-height:1;
}
.astrick{
  color:var(--color-danger);
  animation: rotate 20s infinite linear;
  -webkit-animation: rotate 20s infinite linear;
  width:4rem;
  content:var(--astrick);
  transition:1000ms;
  
}
@keyframes rotate {
  from {transform:rotate(0deg); }
  to {transform:rotate(360deg); }
}
.header__text__desc{
  padding-top:30px;
}
.social__icons{
  display: flex;
  gap: 3em;
  color:var(--color-danger);
}
.social__icons i:hover{
  transition: 1s ease-in-out;
  color:var(--color-yellow);
}
.kod{
  position: absolute;
  left: 60%;
  bottom: 1em;
}



.decoration__text{
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  writing-mode: vertical-rl;
  grid-column-start: 4;
  align-items: self-end;
  font-weight: bold;
  margin-bottom: 1em;
  padding-top:10px;
  color:var(--color-black);
}
/*========================================END OF HERO SECTION=========================*/

/*========================================WORK SECTION=================================*/

.work__title{
  margin-left: 5.5rem;
  font-size: 5em;
  
}
.cross{
width:50px;
content: var(--cross);
}
.row{
  grid-template-columns: 1fr 1fr;
  display: grid;
  height:100vh;
  margin-bottom:2em;
  position:relative;
  grid-column-start: 1;
  grid-column-end:2;
  gap:1em;
}
.card{
  grid-column-start:2;
  position:absolute;
  bottom:0;

}
.work__section{
  padding-top: 12em;
  
}
.marquee{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  position: relative;
  font-size: 3em;
  white-space:nowrap;
  left:20px;
  height:100%;
  
}
.text__stroke{
  color:transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color:var(--color-black);
}
.accent{
color:var(--color-warning);
}
.marquee span{
  padding:1.5em 0;
}

.work__container{
  display:grid;
  grid-template-columns: 7% 1fr;
  overflow:hidden;
}

/*===Work section column 2===*/
.work__col2{
  border-left:1px solid var(--color-black);
  border-top:1px solid var(--color-black);
  border-bottom:1px solid var(--color-black);
}

.project__des{
  font-size: 5em;
  font-weight: bold;
  margin: 1em 0 0 0.5em;
}
.arrow__prjct{
  width: 20px;
  transform: rotate(-45deg);
  margin-left:10px;
}
/*===END OF WORK SECTION COLUMN 2===*/



/*===CARD===*/
.project__card__top{
overflow: hidden;
transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);

}
.project__card__top img:hover{
transform: translateX(-1.75rem);
transform:scale(1.09)
}
.project__card__top img{
  border:1px solid #000;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transform-origin: 90% center;
  overflow: hidden;
}
.project__card__bottom{
margin: -7px 0 0 1em;
height: 4em;
margin-left: 6px;
padding: 15px;
background:var(--color-white);
border: 1px solid var(--color-black);
display:flex;
align-items:center;
justify-content: space-between;
color:var(--color-black);
}
.bottom__col2 p{
text-align:center;
}
.bottom__col2 img{
width:200px;
height:35px;
}
.bottom__col2 {
  transition: 0.5s ease;
  position: relative;
  
}
.bottom__col2:hover {
opacity:0.4;
}
  

/*===END OF CARD===*/
/*===VIEW MORE BUTTON===*/
.view__more{
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  
  }
  .view__more h2{
  font-size:5em;
  }
  
  
  .button__view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background:var(--color-black);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  color:var(--color-white);
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  cursor:none;
  }
  .button__view .button-text {
  position: absolute;
  font-size:2em;
  }
  .button__view .foreground-text {
  opacity: 0;
  z-index: 1;
  color:var(--color-white);
  }
  .button__view::after {
  content: "";
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color:var(--color-warning);
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
  .button__view:hover {
    border-color: transparent;
  }
  .button__view:hover::after {
    width: 100%;
    height: 100%;
  }
  .button__view:hover .button-text.foreground-text {
    opacity: 1;
  }
  }
  /*===END OF VIEW MORE BUTTON===*/




/*===============================END OF WORK SECTION====================================*/

/*==============================SKILL SECTION==========================================*/
  .skill__row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    height: 20vh;
    align-content: center;
    margin: 4em 5em;
    gap: 1em;

  }
  .my__skills{
    height:100vh;
  }
  .skill__col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 12px;
    -webkit-text-stroke: thin;
  }
  
  .skill__row i{
    font-size:5em;
  }
  .section__title{
    font-size:5em;
    text-align:center;
    margin:1em;
  }
  .gsap__logo{
    width:60px;
  }
 
/*==============================END OF SKILL SECTION=====================================*/  


/*===============================PARALLAX SECTION=======================================*/


.parallax__container {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  
}

.parallax__image__container {
  padding-bottom: 100%;
  background:var(--color-black);
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-image: url("../image/paralax.png");
  background-size: cover;
  background-position: center;
  margin-top:8em;
}

.text {
  color:var(--color-white);
  margin: 0;
  font-size: 64px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
}
.text.text__dark {
  color:var(--color-warning);
}
.text span {
  position: relative;
  display: block;
}
/*=====================================END OF PARALLAX ==================================*/







/*======================================ABOUt ME =====================================*/
.about__me{
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
max-width:800px;
margin:2em auto;
height:100vh;
position:relative;
color:var(--color-white);
}
ul li{
height:3em;
overflow:hidden;
margin-bottom:1rem;
}
ul li span{
display:block;
font-size:2em;
line-height:1;
transform:translateY(200%);
margin:0.05rem;

}
ul li span.active{
transform:translateY(0%);
transition:2s ease-out;

}
/*========================================END OF ABOUT ME=================================*/

/*========================================FOOTER========================================*/
footer{
  position: relative;
  margin: 5em 1em 0 1em;
  height: 100vh;
  overflow:hidden;
}
.footer__title{
  font-size:5em;
  font-weight:bold;
}
.mail{
  border-bottom:2px solid white;
  font-size:4em;
  color:white;
  position:relative;
  top:1em;
  transition:0.5s ease-in-out;
}
.mail:hover{
  color:orangered;
  border-bottom:2px solid orangered;
}
.footer__contact{
  position:absolute;
  bottom:30%;
  
}
.footer__smile{
    width: 200px;
    height: 200px;
    bottom: 35%;
    position: absolute;
    right: -20%;
}
.footer__social{
  position: absolute;
  bottom: 1%;
  right: 3em;
  display: flex;
  gap: 2em;
  color: orangered;
  font-size: 20px;

}
/*========================================END OF FOOTER=================================*/

/*===Back to the top===*/
.back__to__top {
  position: fixed;
  display: none;
  background:var(--color-warning);
  width: 44px;
  height: 44px;
  border-radius:50%;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  left: 20px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 3;
  padding:10px;
  }
  /*===END OF BACK TO THE TOP==*/
/* media queries  */

@media screen and (min-width: 1600px){
  .header__text{
    padding-top: 1em;
  }
  .header__text h1{
    font-size:7rem;
  }
  .row{
    height:90vh;
  }.arrow__prjct{
    width:25px;
  }.view__more{
    height: 90vh;
  }
  .button__view{
    width:300px;
    height:300px;
  }
  .my__skills{
    height:85vh;
  }
  .world{
    width:200px;
  }
  .ground{
    width:300px;
  }
}
@media screen and (max-width: 1350px){
.footer__smile{
  display:none;
}
}
@media screen and (max-width: 1100px) {

.header__text h1{
  font-size:5.2rem;
}

.navbar__items{
margin-right:1em
}
.logo img{
  margin-left:2em;
}
.scroll{
  bottom: 6.5em;
}

.project__text{
  font-size: 3.6rem
}
.project__card{
  top:40%;
}
.bottom__col1{
  font-size:10px;
}

.bottom__col3{
display: flex;
font-size: 14px;
gap: 8px;
}
.marquee{
font-size:2em;
}
.bottom__col2 img{
  width:80px;
}
.section__title{
  font-size:4.5em;
}
.mail{
  font-size:3em;
}

}

@media screen and (max-width: 840px) {
.heder__text{
  margin-top:6em;
}
.menu__toggle{
  margin:0 0 0 10px;
  width:15px;
  height:15px;
}
.logo img{
  width:160px;
}
.rolling__txt{
  font-size:15px;
  height:15px;
}
.header__text h1{
  font-size:3.7rem;
  
}
.astrick{
  width:2rem;
}
.scroll p{
  font-size:10px;
  margin-left:10px;
}
.scroll img{
  width:30px;
  height:60px;
}
.button__hire{
  width:70px;
  height:70px;
}
.button-text , .button-text .foreground-text{
  font-size:10px;
}
.world__img{
  width:40px;
  height:40px;
}
.location p{
  font-size:10px;
}
.decoration__text{
  font-size:0.8rem;
}
.work__title {
  margin-left: 1.5rem;
  font-size: 3em;
}
.row{
  display:grid;
  grid-template-columns: 1fr;
  margin-bottom:2.5em;
}
.card{
  position:relative;
  margin:1em;
  grid-column-start: 1;
}
.project__des{
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
}
.project__text{
  font-size:3rem;
}
.marquee{
  font-size:2em;
  left:3px;
  }

  .bottom__col2 img {
    width: 107px;
  }
  ul li span{
    font-size:1.6rem;
  }


}
@media screen and (max-width: 660px){
  .header__text h1{
    font-size:3rem;
  }
  .header__text__desc{
    font-size:0.7rem;
  }
  .left__side{
    margin-left:0;
  }
  
  
  .marquee{
    font-size:1.6rem;
  }
  .view__more h2{
    font-size:4rem;
  }
  .hero__section {
    display: grid;
    grid-template-columns: 10% 30% 1fr 5%;
    height: 85vh;
    top: 10%;
    
  }
  .hire__me{
    bottom: 7%;
    right: 48%;
  }
  .about__me{
    margin:0 auto;
  }
  .social__icons{
    font-size: 10px;
  }
  .work__section{
    padding-top:5em;
  }
  ul li{
    height:2rem;
  }
  ul li span{
    font-size:1.2rem;
  }
  .project__text{
    font-size:2.8rem;
  }
  .project__card__bottom{
    gap:10px;
  }
  
  .header__text__desc{
    padding-top:20px;
  }
  .loader__top span {
    font-size:12px;
  }

  .loader__bottom span{
    font-size:12px;
  }
  .mail{
    font-size:2.2em;
  }
  .navbar__pc{
    display:none;
  }
  .navbar__mobile{
    display: flex;
    justify-content: space-between;
    padding: 20px 1.8em;
    align-items: center;
    border-bottom: 1px solid black;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
.nav__logo{
  width:150px;
}

.toggle__button{
  width:50px;
}

.mobile__menu{
  opacity:0;
  display: flex;
  background: black;
  position: fixed;
  flex-direction: column;
  height: 105vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  top:-1000px;
  left:0;
  bottom:0;
  transition:0.1s;
  z-index:2;
}
  .menu__items__mobile{
   display:flex;
   flex-direction: column;
   transition:0.5s;
  }
  .toggle__container{
    display:flex;
    gap:1em;
    z-index:1;
  }
  .exit{
    position: absolute;
    top: 20px;
    right: 40px;
  }
  .mobile__link{
    font-size:3em;
    height:1em;
    margin:1em;
    color:#fff;
  }
}
@media screen and (max-width: 510px){
  #my-scrollbar{
    position: relative;
  }
  .parallax__container{
    overflow:hidden;
  }
  .cursor{
    display:none;
  }
  .header__text{
    margin-top:4em;
  }
  .header__text h1{
    font-size:2.5rem;
  }
  
  .work__section {
    padding-top: 2em;
   
}
.hero__section {
  display: grid;
  grid-template-columns: 10% 35% 1fr 5%;
}
.hire__me{
  right:35%
}
  
  .project__des{
    margin:1em 15px 0 15px;
  }
  .row{
    gap:0;
    height:70vh;
  }
  

  .marquee{
    font-size:1.2rem;
  }
  .view__more {
    height:100vh;
  }
  .view__more h2{
    font-size:3rem;
  }
  .about__me{
    height:70vh;
  }
  .about__text{
    font-size:1.2rem;
  }
  ul li{
    height:1.2rem;

  }
  ul li span{
    font-size:0.9rem;
  }
  .gsap__logo{
    width:35px;
  }
  .section__title , .skill__row i{
    font-size:3em;
  }
  .my__skills{
    height:70vh;
  }
  .skill__row{
    margin:0 3em;
  }
  .text{
    font-size:2em;
  }
  footer{
    height:60vh;
  }
  .footer__title{
    font-size:1.8rem;
  }
  .footer__social{
    bottom: 7%;
    right: 1em;
  }
  .mail{
    font-size:1.4rem;
  }
  .footer__social{
    font-size:10px;
  }
  .footer__smile{
    display: block;
    right: -100%;
    bottom: 50%;
  }
  .back__to__top{
    bottom:30px;
  }
}
@media only screen 
  and (min-device-width: 380px) 
  and (max-device-width: 920px)
  and (orientation: landscape) { 
.loader__mid{
  gap:1em;
}
.loader__mid span{
  font-size:1.3em;
}
.world , .ground{
  width:100px;
}
  #my-scrollbar{
    position:relative;
  }
  .parallax__container{
    overflow:hidden;

  }
  .row{
  grid-template-columns: 0.8fr 1fr;
  display: grid;
  height: 100vh;
  margin-bottom: 2em;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  gap:0;

}
  
  .hero__wrapper{
    height:130vh;
  }
  .hero__section{
    top:12%;
  }
  .hire__me{
    bottom:-30%;
    right:24%;
  }

  .my__skills , .about__me {
    height:135vh;
  }
 
 .text{
  font-size:38px;
  
 }
 .card{
  grid-column-start: 2;
  align-self:end;
  margin:0;
 }
 .work__section{
  padding-top:15em;
  
 }
 .project__text {
  font-size: 2.5rem;
}
.project__des{
  font-size:3rem;
}

}





